body {
  text-align: center;
line-height: 1.5;
  margin: 0;


}

.box1 {
  height:auto;
  width: 900px;
  margin: 0 auto;
  font-family: 'Architects Daughter', cursive;

}

h1 {
  font-size: 4rem;
}

p {
  font-size: 20px;
}
.kleinebox {
  text-align: center;
  height: 200px;
  width: 500px;
  margin: 50px auto;
  font-family: 'Architects Daughter', cursive;

}

.innerbox1 {
  width: auto ;
  height: auto;
float: left;

}

.innerbox2 {
  width: auto ;
  height: auto;
  float: right;

}
