body {
  text-align: center;
line-height: 1.5;


}

.box1 {
  height: 650px;
  width: auto;
  margin: 0;
  padding: 80px;
  font-family: 'Architects Daughter', cursive;

}

h1 {
  font-size: 4rem;
}

.kleinebox {
  margin: 0 auto;
  text-align: center;
  height: 270px;
  padding-top: 20px;
  width: 300px;
  font-family: 'Architects Daughter', cursive;

}

.innerbox1 {
  width: auto ;
  height: auto;
  background-color: yellow;
}

.innerbox2 {
  width: auto ;
  height: auto;
  background-color: blue;
}
