body {
  text-align: center;
line-height: 1.5;
  margin: 0;


}

.box1 {
  height:auto;
  width: 900px;
  margin: 0 auto;
  font-family: 'Architects Daughter', cursive;

}

h1 {
  font-size: 4rem;
}

.kleinebox {
  text-align: center;
  height: 270px;
  width: 900px;
  margin: 0 auto;
  font-family: 'Architects Daughter', cursive;

}

.innerbox1 {
  width: auto ;
  height: auto;
  background-color: yellow;
}

.innerbox2 {
  width: auto ;
  height: auto;
  background-color: blue;
}
